# CARTESIA_API_KEY: Required for Cartesia Voice Cloning & Sonic TTS API calls.
# Get your API key from https://play.cartesia.ai/dashboard -> API Keys
CARTESIA_API_KEY=YOUR_CARTESIA_API_KEY

# GEMINI_API_KEY: Optional Gemini AI API key.
# GEMINI_API_KEY=MY_GEMINI_API_KEY
